PATH_add scripts
PATH_add bin

programs_list="make,gum"
missing_programs=0
has_program() {
  local program=$1
  if ! command -v "$program" &>/dev/null; then
    echo ""
    echo "🚨・$program could not be found. Run 'set-up --os=macos' command"
    echo ""
    missing_programs=1
  fi
}

for program in $(echo "$programs_list" | tr "," "\n"); do
  has_program "$program"
done

if on_git_branch && [ "$missing_programs" -eq 0 ]; then
  echo ""
  echo "All good! 🎉, Happy hacking ☕️"
  echo ""
fi

layout python3
