PATH_add scripts
PATH_add bin

export GOBIN=$PWD/bin
export BUF_CACHE_DIR=$PWD/.buf-cache

missing_programs=0
has_program() {
  local program=$1
  if ! command -v "$program" &>/dev/null; then
    echo ""
    echo "🚨・$program could not be found. Run 'set-up --os=macos' command"
    echo ""
    missing_programs=1
  fi
}

for program in $(cat .repo/requirements-contribute.txt); do
  has_program "$program"
done

if on_git_branch && [ "$missing_programs" -eq 0 ]; then
  echo ""
  echo "All good! 🎉, Happy hacking ☕️"
  echo ""
fi

layout python3

export GUM_INPUT_PROMPT="🖋️ "
export GUM_CHOOSE_CURSOR="👉 "
export GUM_WRITE_WIDTH=50
export GUM_WRITE_HEADER_FOREGROUND="212"
export GUM_INPUT_HEADER_FOREGROUND="212"
export GUM_FILTER_HEADER_FOREGROUND="212"
export GUM_WRITE_PLACEHOLDER_FOREGROUND="122"

# Emojis
export DEVHUXAI_EMOJI="🌊"
export GO_EMOJI="🐹"
export PYTHON_EMOJI="🐍"
export CELEBRATION_EMOJI="🪇"
export BUF_EMOJI="📯"
export PRE_COMMIT_EMOJI="🎣"
export ERROR_EMOJI="🚨"
