PATH_add scripts
PATH_add bin

missing_programs=0
has_program() {
  local program=$1
  if ! command -v "$program" &>/dev/null; then
    echo ""
    echo "🚨・$program could not be found. Run 'set-up --os=macos' command"
    echo ""
    missing_programs=1
  fi
}

for program in $(cat config/requirements-contribute.txt); do
  has_program "$program"
done

if on_git_branch && [ "$missing_programs" -eq 0 ]; then
  echo ""
  echo "All good! 🎉, Happy hacking ☕️"
  echo ""
fi

layout python3

export GUM_INPUT_PROMPT="🖋️ "
export GUM_CHOOSE_CURSOR="👉 "
export GUM_WRITE_WIDTH=50
export GUM_WRITE_HEADER_FOREGROUND="212"
export GUM_INPUT_HEADER_FOREGROUND="212"
export GUM_FILTER_HEADER_FOREGROUND="212"
export GUM_WRITE_PLACEHOLDER_FOREGROUND="122"
